OAUTH_USERNAME='username-for-oauth-login'
OAUTH_PASSWORD='password-for-oauth-login'
SECRET_CLIENTID='oauth-app-clientid'
SECRET_CLIENTSECRET='oauth-app-clientsecret'
SIGNING_SECRET='webhook-signing-secret'